<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>727850004794-rmdag0vf11ec4t0iairgrq6get1n5o6r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727850004794-rmdag0vf11ec4t0iairgrq6get1n5o6r</string>
	<key>API_KEY</key>
	<string>AIzaSyDgI_O9pWaVj42X5V-qotqldezUWXzW6ow</string>
	<key>GCM_SENDER_ID</key>
	<string>727850004794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.github.yi-sang.Portfolian</string>
	<key>PROJECT_ID</key>
	<string>portfolian-1635581571628</string>
	<key>STORAGE_BUCKET</key>
	<string>portfolian-1635581571628.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727850004794:ios:c124bdf6225f62a899e003</string>
</dict>
</plist>